.footer-list {
  list-style: none;
}
.footer-list {
  margin: 0;
}
.footer-list > li {
  margin-bottom: 0.7rem;
  font-weight: 500;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.footer-list > li > a {
  text-decoration: none;
  color: rgb(47, 47, 47);
}

.footer-list > li > a:hover {
  text-decoration: underline;
}
