.computer-docs {
  .pink-color {
    color: rgb(253, 16, 143);
    margin-bottom: 2rem;
  }

  p,
  li {
    font-size: 16px;
  }

  h2 {
    font-weight: 700;
  }
  .edit-on-guthub {
    font-style: italic;
    p {
      font-size: 11px;
    }
  }

  .par {
    font-size: 20px;
  }

  .note {
    margin-bottom: 2rem;
    .title {
      margin: 0;
      color: rgb(253, 16, 143);
      font-weight: 600;
    }
    .content {
      border: 3px solid rgb(253, 16, 143);
      p {
        margin: 5px;
      }
    }
  }

  .unlist {
    ul {
      list-style-type: disc;
    }
  }
}
