.pagination {
  li {
    a {
      border-radius: 1rem;
      margin: 0.4rem;
    }
  }
  .active {
    .page-link {
      background-color: rgb(148, 148, 226) !important;
      border-color: rgb(148, 148, 226) !important;
      border-radius: 1rem;
      padding: 0.5rem 1rem;
      transition: 0.5s ease;
    }
  }
}
