.col-lg-6 > h1 {
  text-align: center;
}

.bgcolor {
  background-color: rgb(224, 224, 224);
}



.div-con {
  display: "flex";
  align-items: center;
  max-width: "600px";
  float: "right";
}

.btn0 {
  text-align: center;
  width: 150px;
  border: none;
  border-radius: 100px;
  background-color: rgb(55, 55, 226);
  color: white;
  padding-right: 5px;
  padding-left: 5px;
}

.text-center {
  margin-top: 4%;
}

.comp-section {
  background-color: #dddddd;
}

@media only screen and (min-width: 1000px) {
  .img-container {
    display: block;
    position: absolute;
    width: 500px;
    justify-content: center;
  }
  .text-center {
    width: 480px;
    margin-top: 9%;
  }
  img {
    justify-items: center;
    justify-content: center;
  }
  .comp-section {
    height: 400px;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1000px) {
  .img-container {
    display: block;
    position: absolute;
    width: 400px;
    justify-content: center;
  }
  .text-center {
    width: 350px;
    margin-top: 7%;
  }

  img {
    justify-items: center;
    justify-content: center;
  }
  .comp-section {
    height: 350px;
  }
}

@media only screen and (min-width: 700px) and (max-width: 800px) {
  .img-container {
    display: block;
    position: absolute;
    width: 300px;
    justify-content: center;
  }
  .text-center {
    width: 300px;
  }
  img {
    justify-items: center;
    justify-content: center;
  }
  .comp-section {
    height: 270px;
  }
}
